!!!
%html
  %head
    %meta(content="text/html; charset=UTF-8" http-equiv="Content-Type")
    %meta(charset="utf-8")
    %meta(content="ie=edge" http-equiv="x-ua-compatible")
    %meta(content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport")
    %title= current_page.data.title || "Case studies"
    = stylesheet_link_tag "bootstrap"
    = stylesheet_link_tag "tether"
    = stylesheet_link_tag "tether-theme-arrows-dark"
    = stylesheet_link_tag "site"
    = javascript_include_tag "jquery"
    = javascript_include_tag "tether"
    = javascript_include_tag "bootstrap"
    = javascript_include_tag "site"
  %body
    %nav.navbar.navbar-toggleable-md.navbar-inverse.fixed-top.bg-inverse
      %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbarCollapse", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarCollapse", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      %a.navbar-brand{:href => "http://www.example.com"} Karl Kase's Case Studies
      #navbarCollapse.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item.active
            %a.nav-link{:href => "/"}
              Home
              %span.sr-only (current)

    .container
      = yield

    %footer.footer
      .container
        %ul.bd-footer-links
          %li
            %a(href="/case-studies/laptops-are-cool.html") Laptops are cool
          %li
            %a(href="/case-studies/magnifying-glasses-are-in.html") Magnifying glasses are in style
          %li
            %a(href="/case-studies/ipads-make-me-smile.html") iPads make me smike
          %li
            %a(href="/case-studies/bar-charts-go-up.html") Bar charts go up
          %li
            %a(href="/case-studies/i-like-phones-and-computers.html") I like phones and computers
          %li
            %a(href="/case-studies/bee-stings-hurt.html") Bee stings hurt
